name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:10.11
        env:
          MYSQL_DATABASE: lrv
          MYSQL_USER: lrv
          MYSQL_PASSWORD: lrv
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    env:
      DB_HOST: 127.0.0.1
      DB_NAME: lrv
      DB_USER: lrv
      DB_PASS: lrv

    steps:
      - uses: actions/checkout@v5

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, pdo, mysql

      - name: Install Composer dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Prepare Laravel
        run: |
          cp .env.example .env
          php artisan key:generate
          php artisan migrate --force

      - name: Start Laravel server
        run: php artisan serve --host=127.0.0.1 --port=8000 &
      
      - name: Wait for Laravel to be ready
        run: npx wait-on http://127.0.0.1:8000

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./.github/tests
          config: baseUrl=http://127.0.0.1:8000

      - name: Verify MariaDB connection
        run: |
          sudo apt-get install mariadb-client -y
          mysql -h $DB_HOST -u $DB_USER -D $DB_NAME -p$DB_PASS -e 'SHOW TABLES;' | grep users
