name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DB_HOST: localhost
      DB_NAME: lrv
      DB_USER: lrv
      DB_PASS: lrv

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip ansible mariadb-client wait-for-it

      - name: Create Ansible inventory
        run: |
          cat << EOF > hosts
          [server]
          localhost
          [db]
          localhost
          EOF

      - name: Run Ansible playbook
        run: ansible-playbook -i ./hosts main.yml -e "db_host=$DB_HOST db_name=$DB_NAME db_user=$DB_USER db_pass=$DB_PASS" -c local

      - name: Wait for Apache/Laravel to be ready
        run: npx wait-on http://127.0.0.1

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./.github/tests
          config: baseUrl=http://127.0.0.1

      - name: Verify MariaDB connection
        run: |
          mysql -h $DB_HOST -u $DB_USER -D $DB_NAME -p$DB_PASS -e 'SHOW TABLES;' | grep users
